<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Buscar por Isbn"
          [(ngModel)]="isbn"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="buscarExemplares()"
          >
            buscar
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Lista de exemplares</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let exemplar of exemplares; let i = index"
          [class.active]="i == indexAtual"
          (click)="setExemplarAtual(exemplar, i)"
        >
          {{ exemplar.numero }}
        </li>
      </ul>
  
    </div>
    <div class="col-md-6">
      <div *ngIf="exemplarAtual">
        <h4>Exemplar</h4>
        <div>
          <label><strong>Número:</strong></label> {{ exemplarAtual.numero }}
        </div>
        <div>
          <label><strong>ISBN:</strong></label>
          {{ exemplarAtual.isbn }}
        </div>
        <div>
          <label><strong>Preço:</strong></label>
          {{ exemplarAtual.preco }}
        </div>

      </div>
  
      <div *ngIf="!exemplarAtual">
        <br />
        <p>Clique em um exemplar...</p>
      </div>
    </div>
  </div>
  