<div class="list row">
    <div class="col-md-6">
      <h4>Lista de associados</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let associado of associados; let i = index"
          [class.active]="i == indexAtual"
          (click)="setAsssociadoAtual(associado, i)"
        >
          {{ associado.nome }}
        </li>
      </ul>
  
    </div>
    <div class="col-md-6">
      <div *ngIf="asssociadoAtual">
        <h4>Associado</h4>
        <div>
          <label><strong>Associado:</strong></label> {{ asssociadoAtual.nome }}
        </div>
        <div>
            <label><strong>Código:</strong></label>
            {{ asssociadoAtual.codigo }}
        </div>
        <div>
            <label><strong>Email:</strong></label>
            {{ asssociadoAtual.email }}
        </div>
        <div>
            <label><strong>Endereço:</strong></label>
            {{ asssociadoAtual.endereco }}
        </div>
        <div>
            <label><strong>Status:</strong></label>
            {{ asssociadoAtual.status }}
        </div>

      </div>
  
      <div *ngIf="!asssociadoAtual">
        <br />
        <p>Clique em um associado...</p>
      </div>
    </div>
  </div>
  